.custom-select {
	position: relative;
}

.custom-select select {
	display: none; /*hide original SELECT element:*/
}

.select-selected {
	background-color: DodgerBlue;
}

.select-selected.placeholder {
	color: #999;
}

/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: '';
	border: 9px solid transparent;
	border-color: gray transparent transparent transparent;
	top: 41%;
	right: 23px;
	z-index: 2;
}


.select-selected.error:after {
	border-color: #d70015 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent gray transparent;
	top: 14px;
}

/*style the items (options), including the selected item:*/
.select-selected {
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	background: #fff;
	padding: 17px 19px 18px 23px;
	font-size: 16px;
	color: #333;
	text-transform: none;
	width: 100%;
	border-radius: 15px;
	border: solid 2px #d8d8d8;
}

.select-selected.error {
	border: solid 2px #d70015;
}

.select-items div {
	padding: 8px 16px;
	cursor: pointer;
	user-select: none;
	padding: 17px 19px 18px 23px;
	font-size: 16px;
	color: #333;
	text-transform: none;
	width: 100%;
}

/*style items (options):*/
.select-items {
	position: absolute;
	top: 115%;
	left: 0;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	border: solid 2px #d8d8d8;
	border-radius: 15px;
	overflow: hidden;
	z-index: 3;
	max-height: 270px;
    overflow-y: auto;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #004b87;
	color: white !important;
}

.custom-select .field-placeholder {
	width: fit-content;
	width: fit-content;
	cursor: pointer;
	z-index: -1;
	width: 80%;
	background-color: transparent;
}

.custom-select .field-name {
	background-color: white;
	width: fit-content;
	padding: 0 5px;
}

.custom-select .field-placeholder.special {
	margin-left: -9px;
}

.custom-select.field-wrapper.hasValue .field-placeholder {
	-webkit-transform: scale(0.75) translateY(-39px) translateX(-40px);
	transform: scale(0.75) translateY(-39px) translateX(-40px);
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 1;
}
